<html>
   <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   </head>
   <body>
      <table class ="table table-hover">
         <thead>
            <tr>
               <th>First name</th>
               <th>Last name</th>
               <th>Full name</th>
            </tr>
         </thead>
         <tbody>
            {% for user in users %}
            <tr>
               <td>{{user["first_name"]}}</td>
               <td>{{user["last_name"]}}</td>
               <td>{{user["first_name"]}}  {{user["last_name"]}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>