<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      h1 {
        text-align: center;
      }
      .box {
        height: 200px;
        width: 200px;
        border: 2px solid black;
        background-color: var(--color);
        margin: 10px;
        display: inline-block;
      }
    </style>
    <title>Play Ground</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    {% for x in range(times): %}
     {% if color == undefind %}
          <div class="box" style="background-color: aqua"></div>
     {% else %}
          <div class="box" style="--color: {{ color }}"></div>
     {% endif %} 
    {% endfor %}
  </body>
</html>
